.button{
    background-color: $blue;
    border: none;
    display: inline-block;
    text-decoration: none;
    line-height: 1;
    padding: 15px;
    font-weight: 300;
    font-size: $font-size-large;
    color: white;
}
.button__link{
    background: none;
}
.button--secondary {
    background: #888888;
}
.button__modal{
    font-weight: 400;
    margin: 10px;
    padding: 15px
}
.red {
    @extend .button__modal;
    background-color: red;
}
.green{
    @extend .button__modal;
    background-color: green;
}
.gap{
    margin-top:10px;
}