//colors
$dark-grey:#333333;
$grey:#666;
$blue: #1c88bf;
$dark-blue:#364051;
$off-white:#f7f7f7;
//font size
$font-size-large: 1.8rem;
 //$font-size-small: 1.4rem;
//spacing
$s-size: 1.2rem;//19.2
$m-size: 1.6rem; // 25.6px
$l-size: 3.2 rem; //51.2
$xl-size: 4.8rem;//76.8
$desktop-breakpoint:48rem;//768